* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

nav {
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    box-shadow: 7px 5px 20px -6px rgb(87, 86, 86);
  }
  body {
    width: 80%;
  }

  ul {
    display: flex;
    justify-content: center;
  }
  li {
    display: inline;
    margin: 10px auto;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 47, 255);
    font-weight: bold;
    text-shadow: #ccc 1px 0 10px;
  }  
  header {
    height: 150px;
  }


  .contain-box {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .box {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 5px 20px -6px rgb(87, 86, 86);
    border-radius: 10px;
    transition: all 0.3s;
  }
  .box:hover {
    transform: scale(1.1);
  }
  .box img {
    width: 100%;
  }
  .description-box {
    width: 300px;
    height: 350px;
    padding: 0px;
  }

  h5 {
    padding: 5px 0px;
    font-size: 16px;
  }